[Match]
Name=lapas

[Network]
BindCarrier=@@LAPAS_NIC_INTERNAL@@
IPForward=true
#TODO: IPMasquerade=true seems to have been deprecated in favor of 'both' but that is not yet supported on debian11
IPMasquerade=true

[Address]
Address=@@LAPAS_NET_ADDRESS@@