[Unit]
Description="Prepares the LAPAS guest filesystem"
DefaultDependencies=no
After=local-fs-pre.target
Before=local-fs.target

[Service]
Type=oneshot
ExecStart=/lapas/initCleanHomeBase.sh
RemainAfterExit=yes

[Install]
RequiredBy=local-fs.target
