[Unit]
Description=Compile and Install the proprietary NVIDIA driver
ConditionKernelCommandLine=lapas_nvidia
ConditionPathExists=/.lapasUser
After=getty.service
Before=multi-user.target display-manager.service
# On failure, abort boot
OnFailure=emergency.target

[Service]
Type=oneshot
ExecStart=/lapas/drivers/nvidia/setup.sh
RemainAfterExit=yes
StandardOutput=tty
StandardError=tty
TTYReset=yes
TTYHangup=yes
TTYPath=/dev/tty2

[Install]
RequiredBy=multi-user.target display-manager.service
