[Unit]
After=network.target
# lapas-api-daemon provides authentication services, so start before
# authentication is required by the system
Before=getty.service display-manager.service

[Service]
User=root
Type=notify
EnvironmentFile=/lapas/apiserver_root_nonce.env
ExecStart=/lapas/lapas-api-client daemon

[Install]
WantedBy=multi-user.target
